@import url('reset.css');
@import url('global.css');
@import url('header.css');
@import url('footer.css');
@import url('animation.css');

header .navbar ul li .material-icons{ /* 종모양 스타일링 추가 */
    font-size: 2rem;
}
header .navbar ul li .account img{ /* 아바타 스타일링 추가 */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
header .navbar ul li a button{
    width: 5rem;
    height: 2rem;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: .9rem;
    transition: .2s;
}
header .navbar ul li a button:hover{
    background: var(--secondary-color);
    letter-spacing: .1rem;
}
/* 공통스타일 */
.bottom-line{
    border-bottom: 1px solid #eee;
}
.padding{
    padding: 2rem 0rem;
}
/* 블로그(컨텐츠) 섹션 */
.blog-container{
    width: 50vw;
    margin: 0 auto;
}
.blog-container .follow > ul{ /* 구독중 */
    display: flex;
    flex-wrap: wrap;
}
.blog-container .follow > ul li{
    font-size: 1.2rem;
    padding-right: 1.2rem;
}
.blog-container .follow > ul li a{
    padding-right: .3rem;
    color: var(--primary-color);
    cursor: pointer;
}
.blog-container .follow > ul li a:hover{
    text-decoration: underline;
}

/* 최근에 업로드한 글 */
.blog-container .blog{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column-reverse;
    padding: 2rem 1rem;
    margin-bottom: 2.5rem;
    border-bottom: none;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: 1.5s;
}
.blog-container .blog > div > ul{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.blog-container .blog .left, 
.blog-container .blog .right{
    width: 100px;
    min-width: 100%;
    opacity: 1;
    transform: none;
}
.blog-container .blog .left .posting-time{
    margin-top: 1rem;
    margin-bottom: .3rem;
    color: #aaa;
}
.blog-container .blog .left .category-name a{
    color: var(--primary-color);
}
.blog-container .blog .left .category-name a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}
.blog-container .blog .left .likes{
    margin-right: .5rem;
}
.blog-container .blog .left span{
    color: var(--primary-color);
}
.blog-container .blog .middle{
    flex-grow: 1;
    padding: 0rem 0rem;
    margin: 2rem 0rem;
}
.blog-container .blog .middle > ul h3{
    font-weight: 700;
    font-size: 1.5rem;
}
.blog-container .blog .middle > ul p{
    padding: 1rem 0;
    line-height: 1.3rem;
    font-size: 1rem;
    color: gray;
}
.blog-container .blog .middle .account{
    display: flex;
    align-items: center;
}
.blog-container .blog .middle .account img{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
.blog-container .blog .middle .account span{
    font-size: .9rem;
    color: #bbb;
    margin-left: .5rem;
}
.blog-container .blog .middle > ul ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-container .blog .middle > ul ul button{
    width: 5rem;
    height: 2rem;
    color: #333;
    cursor: pointer;
    border: 2px solid #eee;
    border-radius: 1rem;
    background: #fff;
    transform: .2s;
}
.blog-container .blog .middle > ul ul button:hover{
    box-shadow: 0 0 .1rem rgba(0, 0, 0, .3);
}
.blog-container .blog .right ul,
.blog-container .blog .right ul li{
    height: 100%;
}
.blog-container .blog .right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* 블로그 수평정렬 */
.blog-container > div:not(.follow){
    position: relative;
}
.blog-container > div:not(.follow) > ul{
    display: flex;
}
.blog-container > div:not(.follow) > ul > li:nth-child(2){
    margin: 0rem 2rem;
}
.blog-container > div:not(.follow) > h3{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.blog-container > div:not(.follow) > a button{
    width: 5rem; 
    height: 2rem;
    color: #fff;
    cursor: pointer;
    border: none;
    background: #333;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 1.5rem; right: 0;
    transform: .2s;
}
.blog-container > div:not(.follow) > a button:hover{
    background: var(--secondary-color);
    box-shadow: none;
}
/* 푸터 */
.footer{
    position: fixed;
    z-index: 1;
    bottom: 0;
    transition: 1s ease-in-out;
    /* display: none;     */
}
.footer.hide{
    opacity: 0;
    height: 0;
}

/* 반응형웹 */
@media (max-width: 420px){
    header{
        padding: 1rem 1rem;
    }
    .blog-container{
        width: 90vw;
    }
    .blog-container > div:not(.follow) > ul{
        flex-flow: column;
    }
    .blog-container > div:not(.follow) > ul > li:nth-child(2){
        margin: 0rem 0rem;
    }
    .footer .icons{
        padding: 1rem 0;
    }
}
@media (max-width: 300px){
    header{
        padding: .5rem .5rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .logo i{
        font-size: 2rem;
    }
    header .navbar ul li{
        margin: 0 .5rem;
    }
    .blog-container > div:not(.follow) > h3{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }    
    .footer .icons .scroll-up{
        margin-right: .2rem;
    }
}